.body {
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
  height: 100%;
  min-height: 100vh;
  color: $white;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.body-background {
  background-image: url(../img/background.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 20px 0;
  max-width: map-get($breakpoints, 'desktop-max');

  @include breakpoint(desktop) {
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto 50px;
  }
}

.menu-list {
  padding: 0;

  @include breakpoint(desktop) {
    display: flex;
  }
}

.menu-list-item {
  list-style: none;
  margin: 0;
  padding: 0;

  @include breakpoint(desktop) {
    margin-right: 20px;
  }

  &:last-child {
    @include breakpoint(desktop) {
      margin-right: 0;
    }
  }
}

.menu-list-link {
  display: block;
  color: $white;
  text-decoration: none;

  &:hover {
    color: $grey;
  }
}
