<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.name }}</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body class="body body-background">
  {% block content %} {% endblock %}
  <script src="js/scripts.js"></script>
</body>
</html>
