.footer {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer-text {
  font-size: 14px;
}

.footer-menu-list {
  text-transform: uppercase;
  font-size: 14px;
}

.footer-menu-list-item {
  @include breakpoint(desktop) {
    justify-content: flex-end;
  }
}
