.main-form {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid $overlay-grey;
  border-radius: 5px;
  margin-bottom: 40px;
}

.main-form-header {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.main-form-footer  {
  color: $dark-grey;
  text-align: center;
  font-size: 14px;
}

.main-form-footer-link  {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $blue;
  }
}

%form-field {
  display: block;
  width: 100%;
  border: 0;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
}

.main-form-set {
  position: relative;
  opacity: .6;
}

.main-form-field {
  @extend %form-field;
  background-color: $overlay-white;
  border-bottom: 1px solid $overlay-grey;
  color: $white;

  &:focus + .main-form-label {
    display: none;
  }
}

%label-item-positioning {
  position: absolute;
  margin-top: -12px;
  top: 50%;
}

.main-form-label {
  @extend %label-item-positioning;
  text-transform: capitalize;
  left: 20px;
  z-index: -1;

  &.is-hidden {
    display: none;
  }
}

.main-form-password-visibility {
  @extend %label-item-positioning;
  display: inline-block;
  width: 26px;
  right: 20px;
  z-index: 5;
  cursor: pointer;
}

.main-form-password-visibility-icon {
  width: 100%;
}

.main-form-submit {
  @extend %form-field;
  background-color: $blue;
  color: $white;
}
