.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  @include breakpoint(desktop) {
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.header-logo-image {
  width: 90px;
}

.header-button {
  order: 2;

  @include breakpoint(desktop) {
    order: 3;
  }
}

.header-buttom-image {
  width: 25px;
}

.header-menu-list {
  width: 100%;
  order: 3;

  @include breakpoint(desktop) {
    width: auto;
    order: 2;
    justify-content: center;
    flex-grow: 1;
    order: 2;
  }
}
