.main {
  @include breakpoint(desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
}

.main-content {
  margin: 60px 0;

  @include breakpoint(desktop) {
    width: 100%;
    max-width: 462px;
    justify-self: center;
    margin: 0;
    padding: 0  20px;
  }
}

.main-content-title {
  font-size: 52px;
  margin: 0;
}

.main-content-text {
  color: $grey;
  padding: 0;
}
