$breakpoints: (
  "desktop": 769px,
  "desktop-max": 1280px
);

$breakpoint-directions: (
  "min": "min-width",
  "max": "max-width"
);

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;

// colors
$white: #fff;
$black: #000;
$grey: #cfd0d0;
$dark-grey: #9b9b9b;
$blue: #2c99ed;
$overlay-white: rgba(255, 255, 255, .2);
$overlay-black: rgba(255, 255, 255, .5);
$overlay-grey: rgba(207, 208, 208, .5);
