<footer class="footer">
  <small class="footer-text">
    &copy; 2019 Stamp. All rights reserved
  </small>
  <ul class="footer-menu-list menu-list">
    {% for item in footer.menu %}
      <li class="menu-list-item">
        <a href="#" class="menu-list-link">{{ item }}</a>
      </li>
    {% endfor %}
  </ul>
</footer>
