<main class="main">
  <div class="main-content">
    <h1 class="main-content-title">
      {{ main.headline }}
    </h1>
    <p class="main-content-text">
      {{ main.subheadline }}
    </p>
  </div>

<div class="main-content">
  <h2 class="main-form-header">{{ form.headline }}</h2>
  <form class="main-form" action="#" data-js="fields">
    {% for field in form.fields %}
      <div class="main-form-set" {% if field == "password" %} data-js="visibility" {% endif %}>
        <input type="{{ field }}" name="{{ field }}" class="main-form-field js-field {% if field == "password" %} js-visibility-field {% endif %}">
        <label for="{{ field }}" class="main-form-label js-field-label">{{ field }}</label>

        {% if field == "password" %}
        <a class="main-form-password-visibility js-visibility-field-button">
          <img src="img/invisible.svg" alt="visibility" class="main-form-password-visibility-icon">
        </a>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="Sign Up >" class="main-form-submit">
  </form>
  <p class="main-form-footer">{{ form.footer }}</p>
  <p class="main-form-footer"><a href="#" class="main-form-footer-link">{{ form.link }}</a></p>

</div>

</main>
